:root {
    --dark-blue: #222222;
    --dark-pink: #F16D7F;
    --pink: #F1E4E6;
    --brown: #211616;
    --grey: #9F9F9F;
    --light-grey: #F8F8F8;
    --dark-grey: #5D5D5D;
    --bright-grey: #A4A4A4;
}

.navigation {
    display: none;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__button {
    background-color: transparent;
    border: none;
}

.header__person-link {
    margin: 0 34px 0 34px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0 0 91px;
    background-color: var(--pink);
    flex-grow: 1;
}

.brand__title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    align-items: center;
}

.brand__subtitle {
    display: block;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-fashion {
   color: var(--dark-pink);
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offers__item--woman {
    background-image: url(../img/offers-woman.jpg);
}

.offers__item--man {
    background-image: url(../img/offers-man.jpg);
}

.offers__item--kid {
    background-image: url(../img/offers-kid.jpg);
}

.offers__item--accessories {
    background-image: url(../img/offers-acc.jpg);
    width: 100%;
    min-height: 180px;
}

.offers__title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.offers__subtitle {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.featured__offers-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 97px 0 50px;
}

.featured__topic {
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.featured__paragraph {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--grey);
}

.featured__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured__item {
    background-color: var(--light-grey);
    width: 360px;
    min-height: 581px;
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

.featured__title {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    padding: 25px 0 13px 19px;
}

.featured__subtitle {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--dark-grey);
    padding-left: 18px;
    width: 314px;
}

.featured__price {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-pink);
    padding: 20px 0 20px 18px;
}

.featured__item--img {
    width: 360px;
    min-height: 420px;
    position: absolute;
    top: 0;
}

.featured__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 49px;
}

.featured__button {
    background-color: transparent;
    border: none;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-pink);
    padding: 14px 35px;
    border: 1px solid;
}

.advantages {
    background-color: var(--dark-blue);
    min-height: 341px;
    margin-top: 95px;
    display: flex;
    align-items: center;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__title {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.advantages__subtitle {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: white;
    display: flex;
    text-align: center;
    width: 300px;
}

.footer__subscription {
    background-image: url(../img/photo\ subscribe.jpg);
    min-height: 448px;
    display: flex;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__quote {
    width: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 87px 0 0 10px;
}

.footer__par {
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
}

.footer__subscribe {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}

.footer__for-our {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.social {
    background-color: var(--dark-blue);
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__controls {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
}

.banner {
    background-color: var(--pink);
    height: 148px;
    display: flex;
    align-items: center;
}

.banner__title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: var(--dark-pink);
    text-transform: uppercase;
}

.user-info {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.user-info__legend {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.name {
    display: block;
    width: 359px;
    height: 44px;
    margin: 21px 0 21px 0;
    border: var(--bright-grey) 1px solid;
    padding-left: 17px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
}

::-webkit-input-placeholder {
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
}

.sex-label {
    font-family: Lato;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
}

.user-info__fieldset {
    margin-bottom: 31px;
}

.user-info__notice {
    width: 350px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: var(--bright-grey);
}

.user-info__button {
    width: 167px;
    height: 50px;
    background-color: var(--dark-pink);
    display: flex;
    align-items: center;
    margin: 39px 0 96px 0;
    border: none;
    cursor: pointer;
}

.user-info__join {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--pink);
    text-transform: uppercase;
    margin-left: 29px;
}

.user-info__title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-transform: uppercase;
}

.user-info__subtitle {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    width: 652px;
    margin-top: 21px;
}

.user-info__item {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 16px 0 0 43px;
    position: relative;
}

.user-info__item:before {
    content: '';
    width: 20px;
    height: 16px;
    background-image: url(../img/Vector.png);
    position: absolute;
    left: -40px;
    top: 5px;
}