$dark-blue: #222222;
$dark-pink: #F16D7F;
$pink: #F1E4E6;
$brown: #211616;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$dark-grey: #5D5D5D;
$bright-grey: #A4A4A4;
$soft-grey: #E1E1E1;
$unknown-color: #3A3838DB;
$black: #000;

