.advantages {
    background-color: $dark-blue;
    min-height: 341px;
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            min-height: 768px;
            flex-direction: column;
        }
    }
    
    &__item {
       text-align: center;
       width: 27%;
       padding-right: 30px;
       
       @include tablet {
        margin-bottom: 48px;
        width: 300px;
       }
    }
    
    &__title {
        @include font(20px, 24px);
        color: $soft-grey;
        padding: 28px 0 16px 0;
    }
    
    &__subtitle {
        @include font(14px, 17px, 300);
        color: $soft-grey;

    }
}

