.advantages {
    background-color: $dark-blue;
    min-height: 341px;
    margin-top: 95px;
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    &__title {
        @include font(20px, 24px);
        color: $soft-grey;
        padding: 28px 0 16px 0;
    }
    
    .advantages__subtitle {
        @include font(14px, 17px, 300);
        color: $soft-grey;
        display: flex;
        text-align: center;

    }
}

