.banner {
    background-color: $pink;
    height: 148px;
    display: flex;
    align-items: center;
    position: relative;

    &__title {
        @include font(24px, 29px);
        color: $dark-pink;
        text-transform: uppercase;
    }

    @include mobile {
        text-align: center;
    }

    .wrp {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $unknown-color;
        opacity: 0.86;
        top: 100%;
        transform: translate(0,-100%);
        display: none;
    }

    .display-block {
        display: block;
    }
}


