.collection {
    width: 100%;
    min-height: 601px;
    border: 1px solid $bright-grey;

    &__wrapper {
        text-align: center;
        padding-top: 65px;
    }

    &__title {
        @include font(14px, 19px, 300);
        color: $dark-pink;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 63px;
            height: 3px;
            background-color: $dark-pink;
            bottom: -15px;
            left: 47.5%;
        }
    }

    &__subtitle {
        @include font(18px, 22px, 300);
        color: $bright-grey;
        text-transform: uppercase;
        padding-top: 15px;
    }

    &__par {
        @include font(14px, 17px, 300);
        color: $grey;
        padding-top: 50px;
    }

    &__span {
        display: block;
    }

    &__price {
        @include font(24px, 29px, 300);
        color: $dark-pink;
        padding-top: 33px;
    }

    &__selector {
        border: none;
        text-transform: uppercase;
        @include font(14px, 17px,);
        color: $midday-grey;
        text-align: center;
    }

    &__selector-2 {
        border: none;
        text-transform: uppercase;
        @include font(14px, 17px,);
        color: $midday-grey;
        margin: 130px 23px 0 23px;
        text-align: center;
    }

    &__button {
        border: 1px solid $dark-pink;
        background-color: transparent;
        color: $dark-pink;
        padding: 15px 50px 15px 79px;
        margin: 50px 0 65px 0;
        position: relative;

        &:before {
            content: '';
            background-image: url(/img/Forma\ 1\ copy.svg);
            position: absolute;
            width: 25px;
            height: 25px;
            left: 25px;
            top: 15px;
        }
    }
}