.collection {
    width: 100%;
    border: 1px solid $grey;
    min-height: 601px;
    margin-top: -65px;
    margin-bottom: 128px;
    background-color: $white;
    position: relative;
    text-align: center;

    &__title {
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        color: $dark-pink;
        padding-top: 65px;
        position: relative;
        margin-left: 60px;

        &:before {
            content: '';
            background-color: $dark-pink;
            width: 63px;
            height: 3px;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translate(-50%);
        }
    }

    &__subtitle {
        @include font(18px, 22px, 300);
        color: $midnight-grey;
        text-transform: uppercase;
        padding-top: 25px;
        margin-left: 60px;
    }

    &__paragraph {
        @include font(14px, 17px, 300);
        color: $midday-grey;
        width: 51%;
        margin: 0 370px;
        padding-top: 49px;
    }

    &__par-next {
        display: block;
    }

    &__price {
        @include font(24px, 28px, 300);
        color: $dark-pink;
        padding-top: 33px;
        margin-left: 60px;
    }

    &__element {
        width: 641px;
        height: 1px;
        background-color: $midday-grey;
        margin: 65px 360px;
    }

    &__selectors {
        display: flex;
        justify-content: center;
    }

    &__button {
        border: 1px solid $dark-pink;
        background-color: transparent;
        @include font(16px, 19px);
        color: $dark-pink;
        margin: 60px 0 65px 60px;
        padding: 15px 57px 15px 73px;
        position: relative;
        cursor: pointer;

        &:before {
            position: absolute;
            content: '';
            background-image: url(/img/Forma\ 1\ copy.svg);
            width: 26px;
            height: 24px;
            top: 12px;
            left: 25px;
        }
    }
}