.header {
    background-color: $dark-blue;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
    }
    
    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    &__person-link {
        margin: 0 34px 0 34px;
    }
    
    &__logo {
        margin: 0 41px 0 0;
    }
    
    &__navigation {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        height: 765px;
        z-index: 1;
    }
    
    &__navigation-title {
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;
        padding-left: 34px;
        margin-top: 37px;
    }
    
    &__navigation-subtitile {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        color: $dark-pink;
        padding-left: 34px;
        margin: 24px 0 12px 0;
    }
    
    &__item {
        text-decoration: none;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        color: var(--grey);
        margin: 11px 50px 11px 27px;
    }
    
    &__item:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    
    &__list {
        margin-top: 0;
        list-style: 0;
    }
    
    .display-block {
        display: block;
    }  
    
}

