.header {
    background-color: $dark-blue;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
    }
    
    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    &__person-link {
        margin: 0 34px 0 34px;

        @include mobile {
            display: none;
        }
    }

    &__cart-link {
        @include mobile {
            display: none;
        }
    }
    
    &__logo {
        margin: 0 41px 0 0;
    }
    
    &__navigation {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $light-grey;
        height: 765px;
        z-index: 1;

        @include tablet {
            height: 368px;
            width: 190px;
        }
    }
    
    &__navigation-title {
        @include font(14px, 17px, 700);
        text-transform: uppercase;
        padding-left: 34px;
        margin-top: 37px;

        @include tablet {
            padding-left: 10px;
            margin-top: 15px;
        }
    }
    
    &__navigation-subtitile {
        @include font(14px, 17px);
        text-transform: uppercase;
        color: $dark-pink;
        padding-left: 34px;
        margin: 24px 0 12px 0;

        @include tablet {
            padding-left: 14px;
            margin: 10px 0 6px 0;
        }
    }
    
    &__item {
        text-decoration: none;
        @include font(14px, 17px);
        text-transform: uppercase;
        color: $grey;
        margin: 11px 50px 15px 27px;

        @include tablet {
            margin: 0 25px 0px 10px;
            @include font(12px, 15px);
        }
    }
    
    &__item:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    
    &__list {
        margin-top: 0;
        list-style: 0;
    }
    
    .display-block {
        display: block;
    }  
    
}

@media (max-width: 768px) {
    .container {
        width: 96%;
    }
}